In [ ]:
First Step: Lookout for the format of the file you're importing.
Second Step: Read the data dictionaries to find the DataType

Num_data: Num_data.txt #numpy
Diff_data: us-states.csv #pandas

DATA IMPORTING USING NUMPY

https://numpy.org/doc/stable/reference/generated/numpy.loadtxt.html

**Each row in a text file must have same number of values

In [13]:

import numpy as np
file1 = np.loadtxt("floats.csv", delimiter = ',',dtype = str)
print(file1[0:5])


#data shape
file1.shape

[['\ufeffcallSign' 'Date_Time' 'JulianDay' 'Time_QC' 'Latitude'
  'Longitude' 'Position_QC' 'Depth' 'Depth_QC' 'Temperature'
  'Temperature_QC' 'Salinity' 'Salinity_QC']
 ['Q4901043' '7/12/10' '2455390.351' '1' '24.823' '-87.964' '1' '2' '1'
  '29.83' '1' '36.59' '1']
 ['Q4901043' '7/12/10' '2455390.351' '1' '24.823' '-87.964' '1' '4' '1'
  '29.65' '1' '36.58' '1']
 ['Q4901043' '7/12/10' '2455390.351' '1' '24.823' '-87.964' '1' '6' '1'
  '29.53' '1' '36.58' '1']
 ['Q4901043' '7/12/10' '2455390.351' '1' '24.823' '-87.964' '1' '8' '1'
  '29.49' '1' '36.58' '1']]

(10333, 13)

You can see above data is so messy :(
    
    Lets skip the header and then read the data

In [8]:
file1 = np.loadtxt("floats.csv", delimiter = ',',dtype = str, skiprows = 1)
print(file1[0:5])

[['Q4901043' '7/12/10' '2455390.351' '1' '24.823' '-87.964' '1' '2' '1'
  '29.83' '1' '36.59' '1']
 ['Q4901043' '7/12/10' '2455390.351' '1' '24.823' '-87.964' '1' '4' '1'
  '29.65' '1' '36.58' '1']
 ['Q4901043' '7/12/10' '2455390.351' '1' '24.823' '-87.964' '1' '6' '1'
  '29.53' '1' '36.58' '1']
 ['Q4901043' '7/12/10' '2455390.351' '1' '24.823' '-87.964' '1' '8' '1'
  '29.49' '1' '36.58' '1']
 ['Q4901043' '7/12/10' '2455390.351' '1' '24.823' '-87.964' '1' '10' '1'
  '29.46' '1' '36.58' '1']]

In [15]:
#did you observe the difference
file1a = np.genfromtxt('floats.csv', delimiter=',', names=True)
print(file1a[0:5])

file1a.shape

[(nan, nan, 2455390.351, 1., 24.823, -87.964, 1.,  2., 1., 29.83, 1., 36.59, 1.)
 (nan, nan, 2455390.351, 1., 24.823, -87.964, 1.,  4., 1., 29.65, 1., 36.58, 1.)
 (nan, nan, 2455390.351, 1., 24.823, -87.964, 1.,  6., 1., 29.53, 1., 36.58, 1.)
 (nan, nan, 2455390.351, 1., 24.823, -87.964, 1.,  8., 1., 29.49, 1., 36.58, 1.)
 (nan, nan, 2455390.351, 1., 24.823, -87.964, 1., 10., 1., 29.46, 1., 36.58, 1.)]

(10332,)

FLAT FILES DATA IMPORTING USING PANDAS

WE ARE IMPORTING THE COMMA SEPERATED FILES

In [16]:
#first way
import pandas as pd

file2 =  pd.read_csv("/Users/isha/Downloads/us-states.csv",nrows = 5,header = 0)
print(file2)

#second way
#file2 = pd.read_csv('us-states.csv')

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [24]:
file2.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [25]:
data_array = np.array(file2)
print(data_array)

[['2020-01-21' 'Washington' 53 1 0]
 ['2020-01-22' 'Washington' 53 1 0]
 ['2020-01-23' 'Washington' 53 1 0]
 ['2020-01-24' 'Illinois' 17 1 0]
 ['2020-01-24' 'Washington' 53 1 0]]

What if we have another format of flat file such as .tsv/.txt)????

DATA EXPORTING USING PANDAS

In [26]:
#library required
#pip install openpyxl

file2.to_excel(r'/Users/isha/Desktop/my_file.xlsx',sheet_name='Sheet1')

In [ ]:
Most Important: Importing the Large DataSet